/* Align icons Left*/


#what .items {
    display:block;
    padding:1rem;
}
#what .items .item{
    display:flex;
    text-align: left;
}

/* Icon position*/

#what .items .item i{
    margin-right: 1.36rem;
    align-self: center;
    margin-bottom: 0;
}
